$grey-bg: #f5f5f5;
$dark-grey-bg: #eee;
$darker-grey-bg: rgb(211, 211, 211);
$darkest-grey-bg: rgb(179, 179, 179);
$light-text: #686e7c;
$white: #ffffff;
$default-black: #171a1f;
$light-border: #e2e2e2;
$dark-border: #7b808c;
$btn-primary: #415bf6;
$link: #396fd4;
$folders: #45818e;
