@import "../../../css/styles/colors";

.careerList {
  width: 100%;
  &__grid {
    &__title {
      -webkit-transition: color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
      -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      padding: 10px;
      border-radius: 90px;
      font-size: 14px;
      color: $light-text;
      background-color: $dark-grey-bg;
      font-family: "Inter Medium";
      color: $default-black;
      width: 300px;
    }
    &__list {
      text-align: left;
      &__addBtn {
        cursor: pointer;
        margin-top: 20px;
        display: flex;
        align-items: center;
        &__icon {
          margin-right: 10px;
        }
      }
    }
  }
}
