.auth__container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  // font-size: 1.6rem;
  background-color: white;
  height: 100vh;
  &__left {
    width: 60%;
  }
  &__right {
    width: 40%;
    background-color: #e9efff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
      object-fit: contain;
      width: 80%;
      height: 80%;
      // width: 100px;
      // height: 100px;
    }
  }
}
