@import "../../css/styles/colors";

.timeline {
  width: 100%;
  &__grid {
    &__title {
      text-align: left;
      font-family: "Inter Medium";
      color: $default-black;
      font-size: 18px;
    }
    &__list {
      text-align: left;
    }
  }
}
